<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWBD Employees</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/company'}">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/invoice'}">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{'/employee'}">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/balancesheet'}">Balance Sheets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/employee/form'}">
                        <i class="fas fa-plus-circle"></i> Add
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto topnav">
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <form id="logout-form" th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn-primary">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/participant/form'}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>CNP</th>
            <th>Income</th>
            <th>Designation</th>
            <th>Profession</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="employee, stat : ${employees}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${employee.employeeId}">1</td>
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
            <td th:text="${employee.cnp}">CNP</td>
            <td th:text="${employee.income}">Income</td>
            <td th:text="${employee.designation}">Designation</td>
            <td th:text="${employee.profession}">Profession</td>
            <td><a href="#" th:href="@{'/employee/edit/' + ${employee.employeeId}}"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="#" th:href="@{'/employee/delete/' + ${employee.employeeId}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>

    </table>
</div>

</body>
</html>